@font-face {
  font-family: 'Lato';
  font-display: swap;
  src: url('Lato-Regular.ttf');
}

body {
  font-size: 15pt;
  font-family: 'Lato', sans-serif;
  background-color: white;
}

.container {
  position: relative;
  width: 100%;
}

.mute-unmute-icon {
  width: inherit;
  height: inherit;
}

.mute-unmute-btn {
  margin: 2%;
  width: 35px;
  height: 35px;
}

.controller {
  display: inline-block;
  color: black;
  background-color: lightgrey;
  border: none;
  border: 2px solid black;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  font-size: 12pt;
  font-weight: bold;
  text-align: center;
  height: 48px;
  width: 48px;
  padding: 0px;
  margin: 1px;
  outline: none;
}

.controller:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
