@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  font-size: 15pt;
  font-family: 'Lato', sans-serif;
  background-color: white;
}

.container {
  position: relative;
}

button {
  border: 2px solid black;
  background-color: lightgrey;
  outline: none;
  font-size: 12pt;
}
