@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("Lato-Regular.ttf");
}

body {
  margin: 0;
  font-size: 15pt;
  font-family: "Lato", sans-serif;
  background-color: white;
  
  /* disable pull-to-refresh */
  overscroll-behavior: contain;
  
  /* disable long press/touch to select text */
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

.mute-unmute-btn {
  margin: 3%;
  width: 10vw;
  height: 5vh;
  border: none;
  background-color: white;
  background-size: cover;
}

.controller {
  display: inline-block;
  color: black;
  background-color: lightgrey;
  border: none;
  border: 2px solid black;
  border-radius: 15px;
  box-shadow: 0 5px #999;
  font-size: 12pt;
  font-weight: bold;
  text-align: center;
  height: 12vh;
  width: 22vw;
  margin: 0.1%;
  outline: none;
}


.controller:active {
  box-shadow: 0 4px #666;
  transform: translateY(1px);
}

p {
  font-weight: bold;
}

#credits {
  font-size: 5pt;
  margin-top: 5%;
}

